ADMIN_USERNAME=merve
ADMIN_PASSWORD=DS0jmJqcCCK86LyA
JWT_SECRET=cok_uzun_random_birsey_123456
SUPABASE_URL=https://jfwmagyvvcfomadkzsza.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=sb_secret__sf3mLVTzZq12nXQdcZL4A_ocFeTtYQ
